################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Robo-Garden-Notes-2022-Sept fork/v17/.suo
/.vs/slnx.sqlite
