:root {
    --background-dark: #11151C;
    --background-dark-light: #283142;
    --background-light: #d5ddeb;
    /* Red */
    --brand-red: #ec332e;
    --brand-red-light: #ff4431;
    --brand-red-dark: #9f221f;
    /* Green */
    --brand-green: #4ba35e;
    --brand-green-light: #5cc974;
    --brand-green-dark: #275631;
    /* Blue Gray */
    --brand-blue: #577fbd;
    --brand-blue-light: #75abff;
    --brand-blue-dark: #334b70;
    /* Gold */
    --brand-yellow: #fab835;
    --brand-yellow-light: #ffc936;
    --brand-yellow-dark: #c6922a;

    /* Break Points */
    --small: 480px;
    --small-medium: 640px;
    --medium: 768px;
    --large: 1024px;
    --extra-large: 1200px;

    /* Logo Sizes */
    --logo-width-large: 192px;
    --logo-width-medium: 192px;
    --logo-width-small-medium: 192px;
}


body {
    /* 1. Give the body a background and the site a better font */
    background-color: var(--background-dark-light);
    font-family: sans-serif;

    /* 8. Remove space around the header */
    margin: 0;
}

ul{
    /* 2. Remove the bullets from all lists */
    list-style-type: none;
}


ul,li{
    /* 3. Remove margin and padding from lists and list items */
    margin: 0;
    padding: 0;
}

a {
    /* 4. Give all links a plain look */
    text-decoration: none;
    color: var(--background-light);
}

header {
    /* 5. Change container to type flexbox TODO: Show example of this concept */
    display: flex;
    /* 6. Display flex items with space between */
    justify-content: space-between;

    /* 7. Give the header a distinct color TODO: Point out the space around the header*/
    background-color: var(--background-dark);
    color: var(--background-light);
}

header > img,
header > nav{
    /* 9. Adding some horizontal margin to the logo and navigation */
    margin-left: 32px;
    margin-right: 32px;
}



#header-main-menu li{
    /* 32. Position Relative so Pseudo elements place correctly */
    position: relative;
}

/* Top Level Menu Items */
#header-main-menu > li{
    /* 10. Top level list items need to be inline-block to remove line break. TODO: demo this concept */
    display: inline-block;

    /* 19. Setting text to justify centered. TODO: Demo positioning by removing parent relative */
    text-align: center;

    /* 24. Give the menu items some space */
    /* margin-left: 4px; */
    /* margin-right: 4px; */
    margin: 0 4px;

    /* 25. Bold Font */
    font-weight: bold;
}

.dropdown:hover .sub-menu{
    /* 28. When hovering on dropdown display sub-menu */
    /* display: block; */
    /* 36.b. Making the sub-menu slide out */
    transition: transform .27s;
    transform: translate(0, 0);
}

.sub-menu{
    /* 11. Position absolute removes element from DOM and positions it relative to nearest positioned parent */
    position: absolute;

    /* 15. Setting padding on sub-menu so items are below main navigation bar */
    padding-top: 42px;
    /* 16. We want the sub menu to be aligned on the left side, TODO: Demo this concept with bottom*/
    left: 0;

    /* 18. Set Width to 100% (matching parent span) */
    width:100%;

    /* 22. Match sub-menu background with main menu. TODO: Demo that this is in front using a different color*/
    background-color: var(--background-dark);
    /* background-color: green; */

    /* 26. Hide Submenu by default. TODO: Explain we will start with hiding and move to animations*/
    /* TODO: demo z height by changing background green on point 22 */
    /* display: none; */
    /* 36.a. Making the sub-menu slide out */
    transition: transform .27s;
    /* transform: translate(0, -100%); */

    /* 27. put sub-menu behind header */
    z-index: -1;
}

.sub-menu > li > a{
    /* 21. Changing display from inline -> block so dimensions can be changed */
    display: block;
    /* 20. Set vertical padding for sub menu links. TODO: Note that we are setting sizes using the links so they are more clickable */
    /* TODO: Demo above */
    padding: 28px 0;
    /* 23. Set Link colour to match menu */
    color: var(--brand-blue);
}

#header-main-menu > li > a{
    /* 13.a. Display type inline > block so height replated properties are not ignored */
    display: block;
    /* 12.a. Display Top Level Links with 42px top,bottom and 32px left, right padding */
    padding: 42px 32px;
    /* 14.a. Set color of Link */
    color: var(--brand-blue);
}

#header-main-menu > li > span{
    /* 13.b. Same thing for span */
    display: block;
    /* 12.b. Same thing for span */
    padding: 42px 32px;
    /* 14.b. Set color of Span */
    color: var(--brand-blue);
    /* 17. Position the spans so that sub menu's become relative to this item */
    /* TODO: Come back here at the end and remove this to see that it makes full width sub menu */
    position: relative;
    /* 29. Change cursor */
    cursor: pointer;
}

#header-main-menu span:hover{
    /* 30.a.  Change text color on hover*/
    color: var(--brand-blue-light);
}
#header-main-menu a:hover{
    /* 30.b.  Change text color on hover*/
    color: var(--brand-blue-light);
}

#header-main-menu li::after{
    /* 35. Transition time for smooth animation */
    transition: transform 0.27s;
    /* 31. Pseudo Element */
    position: absolute;
    content: "";
    background-color: var(--brand-green);
    width: 100%;
    height: 4px;
    left:0;
    bottom: 0;
    /* 33. Hide element by scaling it to zero */
    transform: scale(0);
}

#header-main-menu li:hover::after{
    /* 34. Un hide element on hover by scaling it back to 100% */
    position: absolute;
    transform: scale(1);
}

.active{
    /* 35. Active tab same colour as page */
    background-color: var(--background-dark-light);
}


/* #header-logo{
    max-width: 256px;
} */

/* --large */
/* @media only screen and (max-width: 1024px) {
    #header-logo{
        max-width: var(--logo-width-large);
        max-height: calc(var(--logo-width-large*0.4));
    }
    #header-main-menu{
        font-size: .9rem;
    }
    .sub-menu > li > a{
        padding: 28px 0;
    }
    
    #header-main-menu > li > a{
       padding: 32px 22px;
    }
    
    #header-main-menu > li > span{
        padding: 32px 22px;
    }
    
} */


/* --medium */
/* @media only screen and (max-width: 768px) {
    #header-logo{
        content:url('./logo-min.svg');
        max-width: var(--logo-width-medium);
        max-height: calc(var(--logo-width-medium*0.17));
    }
    #header-main-menu{
        font-size: .8rem;
    }
    .sub-menu > li > a{
        padding: 18px 0;
    }
    
    #header-main-menu > li > a{
       padding: 22px 12px;
    }
    
    #header-main-menu > li > span{
        padding: 22px 12px;
    }
    
} */


/* --small-medium: 640px; */
/* @media only screen and (max-width: 640px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    #header-logo{
        content:url('./logo-min.svg');
        max-width: var(--logo-width-small-medium);
        max-height: calc(var(--logo-width-small-medium*0.17));
        margin: 16px;
    }
    #header-main-menu{
        font-size: .8rem;
    }
    .sub-menu{
        padding-top: 20px;
    }
    .sub-menu > li > a{
        padding: 8px 0;
    }
    #header-main-menu > li > a{
       padding: 12px 2px;
    }
    header{
        position: relative;
    }
    #header-main-menu > li{
        position: unset;
    }
    #header-main-menu > li > span{
        position: unset;
        padding: 12px 2px;
    }
} */

/* --small: 480px; */
/* @media only screen and (max-width: 480px) {
    header{
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    #header-logo{
        content:url('./logo-min.svg');
        max-width: 80%;
        max-height: auto;
        margin: 16px;
    }
    #header-main-menu{
        font-size: .8rem;
    }
    .sub-menu{
        padding-top: 20px;
        position: unset;
        transform: translate(0, 0);
    }
    .sub-menu > li > a{
        padding: 8px 0;
    }
    #header-main-menu > li > a{
       padding: 12px 2px;
    }
    #header-main-menu > li{
        display: block;
    }
    #header-main-menu > li > span{
        padding: 12px 2px;
    }
} */