:root {
    --background-dark: #11151C;
    --background-dark-light: #283142;
    --background-light: #d5ddeb;
    /* Red */
    --brand-red: #ec332e;
    --brand-red-light: #ff4431;
    --brand-red-dark: #9f221f;
    /* Green */
    --brand-green: #4ba35e;
    --brand-green-light: #5cc974;
    --brand-green-dark: #275631;
    /* Blue Gray */
    --brand-blue: #577fbd;
    --brand-blue-light: #75abff;
    --brand-blue-dark: #334b70;
    /* Gold */
    --brand-yellow: #fab835;
    --brand-yellow-light: #ffc936;
    --brand-yellow-dark: #c6922a;
}

body{
    background-color: var(--background-dark-light);
    color: var(--background-light);
    font-family: sans-serif;
    margin: 0;
}

/* TODO: Uncomment */
/* a:link{
    color: #7678ED;
}

a:visited{
    color: #4f51a0;
} */

ul{
    list-style-type: none;
}

ul, li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--background-light);
}

header{
    display: flex;
    justify-content: space-between;

    background-color: var(--background-dark);
    color: var(--background-light);
}

header > img,
header > nav{
    margin-left: 32px;
    margin-right: 32px;
}

#header-main-menu li{
    position: relative;
}

#header-main-menu > li{
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    font-weight: bold;
}

.dropdown:hover .sub-menu{
    /* display: block; */

    transform: translate(0,0)
}

.sub-menu{
    position: absolute;
    padding-top: 42px;
    left:0;
    width:100%;
    background-color: var(--background-dark);
    /* background-color: green; */
    
    transition: transform 0.27s;
    transform: translate(0, -100%);
    /* display: none; */
    z-index: -1;
}




.sub-menu > li > a {
    display: block;
    padding: 28px 0;
    color: var(--brand-blue);
}

#header-main-menu > li > a{
    display: block;
    padding: 42px 32px;
    color: var(--brand-blue);
}
/* #header-main-menu > li a:visited{
    color: var(--brand-blue);
} */

#header-main-menu > li > span{
    display: block;
    padding: 42px 32px;
    color: var(--brand-blue);
    position: relative;
    cursor: pointer;
}

#header-main-menu span:hover{
    color: var(--brand-blue-light)
}

#header-main-menu a:hover{
    color: var(--brand-blue-light)
}

#header-main-menu li::after{
    transition: transform 0.27s;
    position: absolute;
    content: "";
    background-color: var(--brand-green);
    width: 100%;
    height: 4px;
    left:0;
    bottom: 0;

    transform: scale(0);

}

#header-main-menu li:hover::after{
    position: absolute;
    transform: scale(1);
}

.active{
    background-color: var(--background-dark-light);
}