
<header>
    <img id="header-logo" width="256" height="61" src="./assets/img/logo.svg"
        alt="Robo Garden Logo with Tagline 'SEPT 2022 Full Stack Bootcamp Notes'">
    <nav>
        <ul id="header-main-menu">
            <li *ngFor="let item of this.menu" [class.active]="item.isActive" [class.dropdown]="item.hasChildren()"  >
            <li *ngFor="let item of this.menu" [class]="{active:item.isActive, dropdown:item.hasChildren()}" >
                <div *ngIf="item.hasChildren() then childrenBlock else linkBlock"></div>
                <ng-template #childrenBlock>
                    <span>
                        {{item.key}}
                        <ul class="sub-menu">
                            <li *ngFor="let subItem of item.children">
                                <a [href]="subItem.url">
                                    {{subItem.key}}
                                </a>
                            </li>
                        </ul>
                    </span>
                </ng-template>
                <ng-template #linkBlock>
                    <a [href]="item.url">
                        {{item.key}}
                    </a>
                </ng-template>
            </li>
        </ul>
    </nav>
</header>
